<% include _header %>
<div class="container">
  <div class="row">
    <div id='static_page_main' class='col-sm-8'>
      <h2>What is this site for and who made it?</h2>
      <p><em>My Building Doesn’t Recycle!</em> is a web app that allows multi-unit renters (renters in buildings with 5 or more units) to report that they do not have recycling in their building.</p>

      <p>This app is a fork of <a href="https://github.com/open-city/recycling">open-city/recycling</a>, which was created by <a target='_blank' href="http://opengovhacknight.org/">Open Government Hack Night Chicago</a>. open-city/recycling was created by <a href='http://clairemicklin.com' target='_blank'>Claire Micklin</a>, <a href='http://benwilhelm.com' target='_blank'>Ben Wilhelm</a>, and <a href='https://github.com/alexkahn' target='_blank'>Alex Kahn</a> at <a href='http://opengovhacknight.org/' target='_blank'>Open Government Hack Night</a>.</p>

      <h2>Why do we need this site?</h2>
      <p>In 2013, the city of Austin passed the Universal Recycling Ordinance, that stated that multi-unit properties residents must have adequate access to refuse and recycling disposal.</p>

      <p>Many of the city properties are compliant with the URO but some of the residents are struggling with properties that do not want to meet the requirement.  It is important to have an outlet for residents to provide feedback openly and to some who will enforce the change.</p>
      <p>In order to provide recycling services to tenants, landlords in multiunit buildings must contract with a private recycling hauler, and it costs extra money on top of the solid waste disposal fees they already pay. Since the multi-unit recycling ordinance is not enforced, most multiunit landlords opt not to provide recycling services to their tenants. And since the city does not enforce the Burke-Hansen law, there is no channel for multi-unit dwellers to report a lack of recycling services in their building. Thus, it is very hard to determine how much recycling <em>isn&#039;t</em> happening.</p>

      <p>Below is the timeline for multifamily properties and the types of properties included:</p>

        <ul>
            <li>Apartments</li>
            <li>Condominiums</li>
            <li>Mobile home parks</li>
            <li>Private funded dorms</li>
            <li>Assisted living facilities</li>
        </ul>

      <h2>What will you do with the data?</h2>
      <p>The data will help us to visualize reports of recycling noncompliance and provide a hub for residents of multi-unit buildings and other Austin residents to have a collective voice in favor of more comprehensive recycling services. One of the greatest uses of this data is to provide awareness of whether your building recycles.  This is also going to be an outlet to contact your council member to ensure they know more about what is happening in their district.</p>

      <h2>How can I help?</h2>

      <p>You can report your building if it does not have recycling.</p>
      <p><a href='/' class='btn btn-primary'>Report your building</a></p>

      <h3>Get Involved</h3>
      <p>You can also visit our <a href="/get-involved">Get Involved</a> page. There you can write a letter to your council member and tell them to push the city to enforce the recycling law. You can also find out where to recycle if your building does not provide recycling services.</p>
    </div>

    <div id="static_page_sidebar" class="col-sm-4">
      <% include _sidebar_blocks/press %>
      <% include _sidebar_blocks/mc_signup_form %>
    </div>
  </div>
</div>

<div class="container">
  <% include _colophon %>
</div>
<% include _footer %>
