<% include _header %>
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '755978994498142',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container page-static">
  <div class="row">
    <div id='static_page_main' class="col-sm-8">

      <p>Austin is working towards becoming a zero waste city by 2040.  Part of reaching this goal is the enforcement of Multifamily Residential Properties having a recycling program in place.</p>

      <p>Below is the timeline for multifamily properties and the types of properties included:</p>

        <ul>
            <li>Apartments</li>
            <li>Condominiums</li>
            <li>Mobile home parks</li>
            <li>Private funded dorms</li>
            <li>Assisted living facilities</li>
        </ul>

      <p>Besides <a href='/' title='Report Your Building'>reporting your building</a>, there are many ways to promote and participate in recycling in your 5+-unit building:</p>

      <h3>Contact Your District Council Member</h3>

      <p>Email or call your council member and tell them you want the city to enforce the existing recycling laws. If you don't know which district you live in, you can input your address and search for your district.</p>
      <p>Need ideas for what to write to your council member? Below is a sample letter that you can copy.</p>
      <p>Start your own program</p>

      <a href="#">View the City of Austin's guide to starting a recycling program in your building.</a>

      <h3>Drop it off</h3>
      <a href="#">Take your recycling to one of the city's drop-off centers.</a>

      <div>
        <h3>Share this site with your friends</h3>
        <div class="social-links">
	        <div class="fb-share-button share-button" data-href="http://mybuildingdoesntrecycle.com" data-layout="button_count"></div>
          <div class="twitter-share-wrapper share-button">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mybuildingdoesntrecycle.com" data-text="Hey Chicago! Does your building provide adequate recycling?">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div id='static_page_sidebar' class="col-sm-4">
      <% include _sidebar_blocks/learn_more %>
      <% include _sidebar_blocks/mc_signup_form %>
    </div>
  </div>
</div>

<div class="container">
  <% include _colophon %>
</div>
<% include _footer %>
